[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipykernel = "*"

[packages]
numpy = "*"
matplotlib = "*"
seaborn = "*"
ipykernel = "*"
jupyter = "*"
sodapy = "*"
geopandas = "*"
pandas = "*"
geopy = "*"
descartes = "*"
geoplot = "*"

[requires]
python_version = "3.7"
